<% provide(:title, "Home") %>
<%= flash[:success] %>
<%= flash[:danger] %>
<h1>Carmine's Page!</h1>
<h2>
  カーミンのページ
</h2>

<div class = "body">
  <h3>
    <%= link_to "プロフィール", static_pages_profile_path %>
  </h3>

  <h3>
    <%= link_to "記事一覧", pages_index_path %>
  </h3>
</div>

